<tr id=<%= dom_id(row)%> >
  <% get_fields[0..-1].each do |field| %>
  <td>
    <%= row.send(field) -%>
  </td>
  <%end%>
  <td class='action-cell'>
    <%= link_to('Editar', edit_credit_line_path(row))%>
    <%= link_to('Elminar',credit_line_path(row), method: :delete, 
        data: {confirm: 'Desea eliminar?'}) %>
  </td>
</tr>