<div class="page-header">
  <h1> Editar crédito</h1>
</div>
<%= simple_form_for(@object, url: "/credit_lines/#{@object.id}", method: :put ) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name%>
    <%= f.input :anual_rate%>
  </div>

  <div class="form-actions">
    <%= f.button(:submit) %>
    <%= bs_button_to t(:cancel), credit_lines_path,
      style: "inverse" %>
  </div>
<% end %>
