<% content_for :title do %>
  Líneas de crédito
  <small>
    <i class="icon-double-angle-right"></i>
    
  </small>
<% end %>
<div class='dataTables_wrapper' role='grid'>
  <div class="row">
      <div class="col-sm-6">
        <div class="dataTables_info" id="functions_panel">
          <%= bs_button_to(t(:register), new_credit_line_path, icon: "plus", 
            style: "success", size: 'sm') %>
        </div>
      </div>
  </div>
</div>
<table id="index_table" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <% get_fields.each do |field| %>
        <th>
          <%=(field)%>
        </th>
      <% end %>
      <th ></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'row', collection: @collection %> 
  </tbody>
</table>
<div class="row">
  <div class="col-sm-6">
    <div class="dataTables_info" id="paginate_total_info">
      
    </div>
  </div>
  <div class="col-sm-6">
    <div class="dataTables_paginate paging_bootstrap" id="paginate_links">
      
    </div>
  </div>
</div>