<h1>Simuladores de Crédito</h1>
<p>Permite al usuario configurar sus propias líneas de crédito, y publicarlas para que sus clientes puedan en minutos generar sus planes de crédito, conocer de antemano valor de las cuotas, valor total, amortizaciones, etc.</p>
<p> Beneficios:
	<ul>
		<li>
			Generación de diferentes planes de crédito (con diferentes tasas y referencias)
		</li>
		<li>
			URL de acceso única para sus clientes
		</li>
		<li>
			Generación de simulación completa con valores de cuotas, intereses, amortizaciones, etc.
		</li>
		<li>
			Avanzado sistema de big data, conectado a las grandes bases de datos de información personal y financiera, para la obtener factores de riesgo asociados al cliente.
		</li>
		<li>
			Completamente web, no requiere instalaciones adicionales
		</li>
	</ul>
</p>

<table class='table'>
	<thead>
		<th>
		</th>
		<th>
			Free
		</th>
		<th>
			Silver
		</th>
		<th>
			Gold
		</th>
	</thead>
	<tbody>
		<tr>
			<th>
				Límite de simulaciones mensuales
			</th>
			<td>
				1000
			</td>
			<td>
				10000
			</td>
			<td>
				Ilimitado
			</td>
		</tr>
		<tr>
			<th>
				Generación de URL propia
			</th>
			<td>
				<%= fa_icon 'check'%>
			</td>
			<td>
				<%= fa_icon 'check'%>
			</td>
			<td>
				<%= fa_icon 'check'%>
			</td>
		</tr>
		<tr>
			<th>
				Reportes de riesgo
			</th>
			<td>
				Solo indice de riesgo				
			</td>
			<td>
				Reporte riesgos básico
			</td>
			<td>
				Reporte detallado de riesgos
			</td>
		</tr>
		<tr>
			<th>
				Métodos de amortización
			</th>
			<td>
				Solo francés
			</td>
			<td>
				Francés, Alemán y Americano
			</td>
			<td>
				Francés, Alemán y Americano
			</td>
		</tr>
		<tr>
			<th>
				Integración por DNS
			</th>
			<td>
				<%= fa_icon 'ban'%>
			</td>
			<td>
				<%= fa_icon 'ban'%>
			</td>
			<td>
				<%= fa_icon 'check'%>
			</td>
		</tr>
		<tr>
			<th>
				API
			</th>
			<td>
				<%= fa_icon 'ban'%>
			</td>
			<td>
				<%= fa_icon 'ban'%>
			</td>
			<td>
				<%= fa_icon 'check'%>
			</td>
		</tr>
		<tr>
			<th>
				Soporte
			</th>
			<td>
				No
			</td>
			<td>
				Email
			</td>
			<td>
				Email
			</td>
		</tr>

		<tr>
			<th>
				SLA
			</th>
			<td>
				<%= fa_icon 'ban'%>
			</td>
			<td>
				99,9 %
			</td>
			<td>
				99,9 %
			</td>
		</tr>




		<tr>
			<th>
				Valor mensual
			</th>
			<td>
				Free
			</td>
			<td>
				$10 USD
			</td>
			<td>
				$50 USD
			</td>
		</tr>
	</tbody>

</table>