<div class="page-header">
  <h1> Registro</h1>
</div>

<%= simple_form_for(@object) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name%>
    <%= f.input :url%>
    <%= f.input :email%>
    <%= f.input :admin_first_name%>
    <%= f.input :admin_last_name%>
    <%= f.input :password%>
    <%= f.input :password_confirmation%>
  </div>

  <div class="form-actions">
    <%= f.button(:submit) %>
    <%= bs_button_to t(:cancel), '/',
      style: "inverse" %>
  </div>
<% end %>
