<div class="page-header">
  <h1>Créditos</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Identificacion</th>
      <th>Valor</th>
      <th>Plazo</th>
      <th>Linea</th>
      <th>Estado</th>
      <th>Riesgo</th>
      <th>Fecha</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id='list'>
    <% @collection.each do |item| %>
      <tr data-id="<%= item.id-%>">
        <td><%= link_to(truncate(item.id.to_s,length: 11), edit_credit_path(item), title: item.id ) %></td>
        <td><%=  item.identification%></td>
        <td><%= number_to_currency item.amount %></td>
        <td><%= item.months %></td>
        <td><%= item.credit_line_name %></td>
        <td><%= item.state %></td>
        <td><%= item.risk if item.state == 'done' %></td>
        <td><%= l(item.created_at) %></td>
        <td>
          <%= link_to "Ver detalles",
                      edit_credit_path(item), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to("1", credits_path()) if !session[:credit_pagination_milestones].blank?%>

<% (session[:credit_pagination_milestones]||[]).each_with_index do |milestone, index| %>
  <%= link_to((index+2), credits_path(next: milestone))%>

<% end %>
<%= link_to('Siguiente>>', credits_path(next: @collection.last.id)) if @collection.last && @count> 50%>
Encontrados <%= @count%> registros aproximadamente.