<div class="page-header">
  <h1> Registro de crédito</h1>
</div>

<%= simple_form_for(@object) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :identification%>
    <%= f.input :birthday, as: :date,  :start_year => Date.today.year - 80%>
    <%= f.input :amount%>
    <%= f.input :months%>
    <%= f.input :url, as: :hidden%>
    <%= f.input( :credit_line_id, collection: get_credit_lines)%>
  </div>

  <div class="form-actions">
    <%= f.button(:submit) %>
    <%= bs_button_to t(:cancel), credits_path,
      style: "inverse" %>
  </div>
<% end %>
