<div class="page-header">
  <h1>Datos del crédito</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Identificacion:</strong></dt>
  <dd title='<%= @object.id %>'><%= @object.identification %> </dd>
  <dt><strong>Fecha de nacimiento:</strong></dt>
  <dd><%= l @object.birthday.to_date %></dd>
  <dt><strong>Valor del crédito:</strong></dt>
  <dd><%= number_to_currency @object.amount %></dd>
  <dt><strong>Linea de crédito:</strong></dt>
  <dd><%= @object.credit_line_name %></dd>
  <dt><strong>Plazo en meses:</strong></dt>
  <dd><%= @object.months %></dd>
  <dt><strong>Estado:</strong></dt>
  <dd id="estado" title='<%= @object.state%>'>
    <%  if @object.state == 'done' %>
      <%= 'Generado'  %>
    <% elsif @object.state == 'pending' %>
      Pendiente
      <%=  image_tag( 'spinner.gif', style: "width: 32 px; height: 32px", id: 'cliente_calculando') %>
    <% else %>
      Error
    <% end %>
 </dd>
  <% if @object.state == 'done' %>
    
    <dt><strong>Riesgo:</strong></dt>
    <dd><%= @object.risk %></dd>
    <dt><strong>Valor total a pagar:</strong></dt>
    <dd><%= number_to_currency @object.total_payment %></dd>
    <dt><strong>Valor total intereses:</strong></dt>
    <dd><%= number_to_currency @object.total_interest %></dd>
    <table class='table' style='text-align: right'>
      <thead>
        <thead style='text-align: right'>
          <th>Número</th>
          <th style='text-align: right'>Interés</th>
          <th style='text-align: right'>Amortización</th>
          <th style='text-align: right'>Pago cuota</th>
          <th style='text-align: right'>Saldo</th>


        </thead>
        <tbody class='table-striped'>
          <% @object.payments.each do |payment|%>
          <tr>
            <td>
              <%= payment["number"] %>
            </td>
            <td>
              <%= number_to_currency payment["interest"] %>
              
            </td>
            <td>
              <%= number_to_currency payment["amortization"] %>
              
            </td>
            <td>
              <%= number_to_currency payment["payment"] %>
              
            </td>
            <td>
              <%= number_to_currency payment["balance"] %>
              
            </td>
          </tr>
          <% end %>
        </tbody>
    </table>
  <% end%>
</dl>

<%= link_to 'Actualizar', credit_path(1), 
  :class => 'btn btn-default' unless @object.state=='done'%>

