<div class="page-header">
  <h1> Inicio de sesión</h1>
</div>

<%= simple_form_for(:session, url: company_session_path) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email%>
    <%= f.input :password%>
  </div>

  <div class="form-actions">
    <%= f.button(:submit) %>
    <%= bs_button_to t(:cancel), '/',
      style: "inverse" %>
  </div>
<% end %>
